h1 {
  font-size:50px;
  font-family: 'Neo Sans W02 Light', Tahoma, sans-serif;
  color:#00AEEF;
  margin-bottom:0.2em;
  letter-spacing:-1px;
}

h2 {
  font-size:20px;
  font-family: 'Neo Sans W02 Light', Tahoma, sans-serif;
  margin-top:1em;
  margin-bottom:0.3em;
}

h2.strong {
  font-family: "Neo Sans W02 Black", Tahoma, sans-serif;
  color:#363636;
  line-height:1.33;
  font-size:26px;
}

h3 {
  font-size:16px;
  font-family: 'Neo Sans W02 Light', Tahoma, sans-serif;
  margin-top:1em;
  margin-bottom:0.3em;
}

h4,h5,h6 {
  font-family: 'Neo Sans W02 Light', Tahoma, sans-serif;
}

img {
  max-width:628px;
}