.service_menu_container {
  float:center;
  margin-left:auto;
  margin-right:auto;
  max-width:940px;
  min-width:940px;
}

div.service_menu {
  height: 39px;
  width: 100%;
  min-width:1170px;
  background-color: #363636;
  padding-top:4px;
}

div.service_content {
  color: #bcbcbc;
  text-transform: uppercase;
  margin-left:-10px;
}

div.submenu-link-container {
  margin-right: 40px;
  float: left;
  height: 39px;
  max-height: 39px;
  display:block;
  font-family: "Neo Sans W02";
  line-height:18px;
}

div.submenu-link-container#active a {
  font-weight: 600;
  color: white;
}

div.submenu-link-container a {
  font-size: 14px;
  font-weight: 500;
  color: #bcbcbc;
  text-decoration: none;
  padding-top: 8px;
  display:block;
  text-shadow:none;
}

div.submenu-right {
  float: right;
  margin-right: 0px;
}

div.submenu-right:last-child {
  margin-right: 30px;
}