div.topstripe {
  color: white;
  background-color:#dce0e3;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #a1a1a1;
  height:95px;
  min-width:1170px;
}

div.topbar_container {
  max-width:1090px;
  float:center;
  margin-left:auto;
  margin-right:auto;
  min-width:1090px;
  padding: 10px 40px;
}

div.topbar {
  height: 65px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  float: center;
  color: white;
  padding: 0px;
}

img#stripe{
  float:left;
}

div.menu_buttons {
  float: right;
  margin-top: -4px;
}

a.blue {
  color: #00b6ff !important;
}

a.menu-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #444;
  font-weight:400;
  padding:0px 20px;
  font-size: 18px;
  line-height:78px;
  font-family: "Neo Sans W02";
  text-shadow: 0px 2px 1px rgba(255,255,255,0.5);
}

a.menu-link:hover {
  color:#00AEEF;
  text-decoration:none;
}

a.menu-link#active {
  color:#00AEEF;
}

div.header_shadow {
  background-image: url("/steroids/images/top_stripe/header_bg_transparent.png");
  background-position: center top;
  background-repeat: no-repeat;
  min-width: 940px;
  min-height:48px;
}
