<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Cordova Compass Example</title>

  <link rel="stylesheet" href="/stylesheets/ratchet-steroids.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />

  <script src="/javascripts/onerror.js"></script>

  <!-- cordova.js is served from localhost to ensure the correct version -->
  <script src="/appgyver/cordova.js"></script>
  
  <script>
  
  // Wait for Cordova to load (failure callback is kept empty)
  document.addEventListener("deviceready", startWatch, false);

  // Start watching the compass
  function startWatch() {

    // Query the compass for a new heading every 120 ms
    var options = { frequency: 120 };

    watchID = navigator.compass.watchHeading(onSuccess, onError, options);
  }

  // Stop watching the compass
  function stopWatch() {
    if (watchID) {
      navigator.compass.clearWatch(watchID);
      watchID = null;
    }
  }

  // Display the current heading in the DOM
  function onSuccess(heading) {
    var element = document.querySelector('#heading');
    element.textContent = 'Heading: ' + heading.magneticHeading;
  }
  
  // Failed to get the heading
  function onError(compassError) {
    alert('Compass error! Error code: ' + compassError.code);
  }
  
  </script>
</head>
<body>
  <div class="content-padded">
    <h1>Compass Example</h1>
    
    <p><span id="heading">Waiting for compass...</span></p>

    <a class="button-block" ontouchstart="startWatch()">Start watching the compass</a>
    <a class="button-block" ontouchstart="stopWatch()">Stop watching the compass</a>

  </div>
</body>
</html>
