<ul>
  <li ng-repeat="(id, <%= options.name %>) in <%= options.name %>Collection | filter:search | orderBy:'name'">
    <button ng-click="open(id)">{{<%= options.name %>.name}}</button>
  </li>
</ul>
