<ul class="list">
  <li ng-click="open(id)" ng-repeat="(id, <%= options.name %>) in <%= options.name %>Collection | filter:search | orderBy:'name'">
    {{<%= options.name %>.name}}
    <span class="chevron"></span>
  </li>
</ul>
