<ul class="list">
  <li hm-tap="open(id)" ng-repeat="(id, <%= options.name %>) in <%= options.name %>Collection | filter:search | orderBy:'name'">
    {{<%= options.name %>.name}} <%= options.name %>
    <span class="chevron"></span>
  </li>
</ul>
