<script>

  // Helper functions

  function closeModal() {
    steroids.modal.hide()
  }

  function askForCloseModal() {
    var msg = { action: "closeModal" };
    window.postMessage(msg, "*");
  }

</script>


<div class="content-padded">
  <h1>Modal</h1>

  <div class="button-block" ontouchend="closeModal()">Close modal</div>
  <div class="button-blcik" ontouchend="askForCloseModal()">Ask layer beneath to close modal</div>

</div>

