---
layout: default
title: Steroids Guides
---

<div id="home">

  <h2>Frequently Asked Questions</h2>

  <ul class="posts faq">
    <li>
      How do I use PhoneGap plugins?<br>
      &raquo; <a href="{{site.baseurl}}guides/cloud_services/plugin-config/?from_faq=1">Configuring Custom Plugins for your App</a>
    </li>
    <li>
      Why won't my Scanner app connect to my computer running <code>$ steroids connect</code>?<br>
      &raquo; <a href="{{site.baseurl}}guides/steroids_npm/troubleshooting-connectivity/?from_faq=1">Troubleshooting Connectivity Issues</a>
    </li>
  </ul>

  <h2>Contributing to Steroids Guides</h2>

  <p>Simply clone the <a href="https://github.com/appgyver/steroids/tree/gh-pages" target="_blank">Steroids Guides GitHub repository</a>, make your edits and send in a pull request. If you have any questions, don't hesitate to contact us at <a href="mailto:contact@appgyver.com">contact@appgyver.com</a>!</p>

  <h2>Android</h2>
  <ul class="posts">
    {% for post in site.categories.android %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Building your app (Cloud Services)</h2>
  <ul class="posts">
    {% for post in site.categories.cloud_services %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Debugging</h2>
  <ul class="posts">
    {% for post in site.categories.debugging %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>HTML5 Mobile Development</h2>
  <ul class="posts">
    {% for post in site.categories.mobile_development %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>iOS</h2>
  <ul class="posts">
    {% for post in site.categories.ios %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Known Issues</h2>
  <ul class="posts">
    {% for post in site.categories.known_issues %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>PhoneGap on Steroids</h2>
  <ul class="posts">
    {% for post in site.categories.phonegap_on_steroids %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Project Configuration</h2>
  <ul class="posts">
    {% for post in site.categories.project_configuration %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Steroids Platform</h2>
  <ul class="posts">
    {% for post in site.categories.steroids_platform %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Steroids npm</h2>
  <ul class="posts">
    {% for post in site.categories.steroids_npm %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Steroids.js</h2>
  <ul class="posts">
    {% for post in site.categories.steroids-js %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <h2>Tizen</h2>
  <ul class="posts">
    {% for post in site.categories.tizen %}
      <li>&raquo; <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

</div>
