<div ng-app="<%= options.className %>Resource">
  <div ng-controller="<%= options.className %>Controller.show">
    <h1><%= options.className %>: {{<%= options.name %>.name}}</h1>

    <ul class="list">
      <li>
        Name: {{<%= options.name %>.name}}
      </li>
    </ul>
  </div>
</div>
