window.<%= options.className %>Controller = {

  index: function () {
    
    steroids.view.navigationBar.show("Index of <%= options.name %>");
    
  },

  show: function () {
    
    steroids.view.navigationBar.show("<%= options.name %> #" + steroids.view.params["id"]);

  }

};
