window.<%= options.className %>Controller = {

  index: function () {
    
    steroids.view.navigationBar.show("Index of <%= options.name %>");
    
  },

  show: function () {
    
    var showId = steroids.view.params["id"];
    
    steroids.view.navigationBar.show("<%= options.name %> #" + showId);
    document.addEventListener("DOMContentLoaded", function() {
      document.getElementById("show-id").textContent = showId;
    });

  }

};
