window.<%= options.className %>Controller = {

  index: function () {
    
    steroids.view.navigationBar.show("Index of <%= options.name %>");
    
  },

  show: function () {
    
    var showId = steroids.view.params["id"];
    
    steroids.view.navigationBar.show("<%= options.name %> #" + showId);
    document.getElementById("show_id").textContent = showId;

  }

};
