<script>
  <%= options.className %>Controller.index();
</script>

<h1><%= options.name %></h1>

<ul>
  <li>
    <button ontouchstart="openWebView('/views/<%= options.name %>/show.html?id=1')">Show first <%= options.name %></button>
  </li>
  <li>
    <button ontouchstart="openWebView('/views/<%= options.name %>/show.html?id=2')">Show second <%= options.name %></button>
  </li>
</ul>
  
</div>
