<div class="service_menu">
  <div class="service_menu_container">
    <div class="service_content">
      <div class="submenu-link-container">
        <a href="https://prototyper.appgyver.com">Prototyper</a>
      </div>
      <div class="submenu-link-container" id="active">
        <a href="https://steroids.appgyver.com">Steroids</a>
      </div>
      <div class="submenu-link-container">
        <a href="http://cloud.appgyver.com">Cloud Services</a>
      </div>
      <div class="submenu-link-container">
        <a href="http://discussion.appgyver.com">Chat</a>
      </div>
      <div class="submenu-link-container">
        <a href="http://academy.appgyver.com">Academy</a>
      </div>
      <div class="submenu-link-container">
        <a href="https://prototyper.appgyver.com/account">My Account</a>
      </div>
    </div>
  </div>
</div>
