<div class="service_menu">
  <div class="service_menu_container">
    <div class="service_content">
      <div class="submenu-link-container">
        <a href="https://prototyper.appgyver.com">Prototyper</a>
      </div>
      <div class="submenu-link-container" id="active">
        <a href="https://steroids.appgyver.com">Steroids</a>
      </div>
      <div class="submenu-link-container">
        <a href="http://cloud.appgyver.com">Cloud Services</a>
      </div>
      <div class="submenu-link-container">
        <a href="http://forums.appgyver.com">Forums</a>
      </div>
      <div class="submenu-link-container">
        <a href="http://academy.appgyver.com">Academy</a>
      </div>

      <div class="submenu-link-container submenu-right">
        <a href="http://accounts.appgyver.com/users/sign_up?redirect_to=http%3A%2F%2Fdevelopers.appgyver.com">Sign Up</a>
      </div>
      <div class="submenu-link-container submenu-right">
        <a href="https://dashboard.appgyver.com/">Log In</a>
      </div>
    </div>
  </div>
</div>
