<div class="topstripe">
  <div class="topbar_container">

    <div class="menu_logo">
      <a href="http://steroids.appgyver.com"><img src="/steroids/images/top_stripe/menu_steroidscommunitylogo.png" id="stripe"></a>
    </div>

    <div class="menu_buttons">
      <a href="http://developers.appgyver.com" class="menu-link">Updates</a>
      <a href="http://forums.appgyver.com" class="menu-link">Forums</a>
      <a href="http://developers.appgyver.com/events" class="menu-link">Events</a>
      <a href="http://academy.appgyver.com/courses/steroids" class="menu-link">Tutorials</a>
      <a href="http://docs.appgyver.com" class="menu-link">API Docs</a>
      <a href="http://guides.appgyver.com/steroids" class="menu-link" id="active">Guides</a>
    </div>
    
  </div>

</div>

<div class="header_shadow"></div>