<div class="topstripe">
  <div class="topbar_container">
    <div class="topbar">

      <a href="http://steroids.appgyver.com"><img src="/steroids/images/top_stripe/steroids_stripe.png" id="stripe"></a>
      <div class="menu_buttons">
      
        <a href="http://steroids.appgyver.com" class="menu-link">Updates</a>
        <a href="http://docs.appgyver.com" class="menu-link">API Docs</a>
        <a href="http://guides.appgyver.com/steroids" class="menu-link" id="active">Guides</a>
        <a href="http://academy.appgyver.com/courses/steroids" class="menu-link">Tutorials</a>
      
      </div>
    </div>
  </div>

</div>

<div class="header_shadow"></div>
