<div ng-controller="IndexCtrl">
  <div class="spinner" ng-show="loading"></div>
  <div class="topcoat-list__container">

    <ul class="topcoat-list">
      <!-- order is reversed created timestamp -->
      <li class="topcoat-list__item" hm-tap="open(<%= options.name %>.id)" ng-repeat="<%= options.name %> in <%= options.name %>s | orderBy: '-createddate'">
        <%= options.className %>: {{ <%= options.name %>.name }}
      </li>
    </ul>

  </div>

</div>
