<script>
  PillsController.index()
</script>

<h1>Awesome, welcome!</h1>

<p>Now, this page is a Steroids style resource from<br/>
  <code>app/views/pills/index.html</code><br/>
  <br/>
  and it uses a layout from<br/>
  <code>app/views/layouts/application.html</code>.</p>

<p>And this page is also served from <code>http://localhost:13101</code>, that is part of our secret sauce.</p>

<p>Now, dig deeper by opening an another document:</p>

<br/>

<ul class="list">
  <li class="opensLayer" data-location="/views/pills/show.html">
    To the next document!
    <span class="chevron"></span>
  </li>
</ul>
