<script>
  PillsController.show()
</script>

<h1>Nice transition, eh?</h1>

<p>That was <em>native</em>, not CSS3.  Also, the application wide layout is applied here.</p>

<p>That previous view is still living under this document, you can go back there by tapping that back button.</p>


<p>Cordova 2.2 (PhoneGap) is included:</p>

<p>
  <a class="button-block button-positive" id="vibrate">navigator.notification.vibrate(2000);</a>
</p>

<br/>

<p>The last stop here is below, tap that button below.</p>

<p>
  <a class="button-block button-main opensModal" data-location="/views/cures/index.html">Open a modal</a>
</p>
