<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Navigaton Bar Example</title>

  <link rel="stylesheet" href="/stylesheets/ratchet-steroids.css" />
  <link rel="stylesheet" href="/stylesheets/application.css" />

  <script src="/javascripts/onerror.js"></script>

  <script src="/appgyver/cordova.js"></script>
  <script src="/components/steroids-js/steroids.js"></script>

</head>
<body>

  <%= yield.view %>

</body>
</html>
