* {
  -webkit-user-select: none;  /* Disable selection/Copy of UIWebView when tapping for a long time */
}

input {
  -webkit-user-select: text;  /* Allow selection for input elements */
}

p {
  margin: 1em 0em;
}

.content-padded {
  padding:10px;
}

.info-highlight {
  border:2px solid #333;
  padding:10px;
  background-color: #00AEEF;
  color:white;
}