<div class="content content-padded">

	<h1>Done!</h1>

	<p>Currently we don't have any more tutorials here, but check out stuff at <code>academy.appgyver.com</code> and <code>guides.appgyver.com</code></p>


	<h2>PROTIP</h2>

	<p>Try out out resource generation:</p>

	<p><small>$ steroids generate resource cars</small></p>

	<p>and</p>

	<p><small>$ steroids generate ng-resource cars</small></p>

	<p>for Angular.js style resources.</p>

	<p>Happy Hacking!</p>

</div>