<div class="content content-padded">

  <h1>Done!</h1>

  <p>Currently we don't have any more tutorials here, but check out more material at <code>academy.appgyver.com</code> and <code>guides.appgyver.com/steroids</code></p>


  <h2>PROTIP</h2>

  <p>Try out out resource generation:</p>

  <p><small>$ steroids generate resource cars</small></p>

  <p>And for AngularJS style resources:</p>

  <p><small>$ steroids generate ng-resource cars</small></p>

  <p>Happy Hacking!</p>

</div>