<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- AppGyver fonts -->
        <link type="text/css" rel="stylesheet" href="//fast.fonts.com/cssapi/b3a16297-1e56-47fa-8281-9baf2c87dd6f.css"/>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/appgyver.css">

    </head>
    <body onload="parent.contentsize(document.body.scrollHeight);">

        <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="{{site.baseurl}}/">{{ site.name }}</a></h1>
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  AppGyver, Inc.<br />
                  181 Fremont St, San Francisco, CA 94105<br />
                  <a href="mailto:contact@appgyver.com">contact@appgyver.com</a>
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://www.appgyver.com">www.appgyver.com</a><br />
                  <a href="http://github.com/appgyver/">github.com/appgyver</a><br />
                  <a href="http://twitter.com/appgyver/">twitter.com/appgyver</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> <!-- /container -->

    </body>
</html>
