<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Cordova Camera Example</title>

  <link rel="stylesheet" href="stylesheets/ratchet-steroids.css" />
  <link rel="stylesheet" href="stylesheets/application.css" />

  <script src="javascripts/onerror.js"></script>

  <!-- cordova.js is served from localhost to ensure the correct version -->
  <script src="http://localhost/appgyver/cordova.js"></script>
  
  <script>
  
    checkForLocalhost();
  
    // Show the selected image
    function imageURIReceived(imageURI) {
      var imgElement = document.querySelector('#photo');
      imgElement.src = imageURI;
    }
  
    // Show the Base64-encoded image
    function imageDataReceived(imageData) {  
      var imgElement = document.querySelector('#photo');
      imgElement.src = "data:image/jpeg;base64," + imageData;
    }
  
    // Camera failure callback
    function cameraError(message) {
      alert('Capturing the photo failed! Cordova says: ' + message);
    }
  
    // Choose an image from the device's photo library, the callback receives the image's file URI
    function chooseImage() {
      checkForLocalhost();
      navigator.camera.getPicture(imageURIReceived, cameraError, { quality: 50, 
        destinationType: navigator.camera.DestinationType.IMAGE_URI,
        sourceType: navigator.camera.PictureSourceType.PHOTOLIBRARY });
    }
  
    // Take a photo using the device's camera, the callback receives the image as a Base64-encoded string
    function capturePhoto() {
      navigator.camera.getPicture(imageDataReceived, cameraError, { quality: 30, allowEdit: true,
        destinationType: navigator.camera.DestinationType.DATA_URL });
    }
    
    // Inform the user that if the project is being served from localhost, the example doesn't function correctly
    function checkForLocalhost() {
      if (window.location.href.indexOf("http://localhost") == 0) {
        alert("Your project is being served from http://localhost/. Since Cordova's Camera API returns the location of the photo file as a file:// URL, trying to display the photo produces an error (due to the different protocols). Please switch the steroids.config.location property in config/application.coffee to just 'cameraExample.html' to fix this.")
      }
    }
    
  </script>
  
  <style>
    img {
      width:100%;
    }
  </style>

</head>
<body>

  <div class="content-padded">
    <h1>Camera Example</h1>
    <hr>
    <a class="button-block" ontouchstart="capturePhoto()">Capture editable photo</a>
    <a class="button-block" ontouchstart="chooseImage()">Choose from Photo Library</a>
    
    <img id="photo">
  </div>

</body>
</html>
