<!DOCTYPE html>
<html>
<head>
  <meta charset="utf8">
  <title>Cordova Camera Example</title>

  <link rel="stylesheet" href="vendor/topcoat/css/topcoat-mobile-light.css" />
  <link rel="stylesheet" href="stylesheets/application.css" />

  <script src="javascripts/onerror.js"></script>

  <!-- cordova.js is served from localhost to ensure the correct version -->
  <script src="http://localhost/appgyver/cordova.js"></script>
  
  <script>
  
    checkForLocalhost();
    
    // Define our image element
    var imgElement = null;
    
    // Set latest image URI to initially be an empty image; this is done to ensure that the spinner GIF is properly hidden
    var latestURI = "data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    
    document.addEventListener("DOMContentLoaded", function(){
      imgElement = document.querySelector('#photo');
    });
  
    // Show the selected image
    function imageURIReceived(imageURI) {
      imgElement.src = latestURI = imageURI;
    }
  
    // Show the Base64-encoded image
    function imageDataReceived(imageData) {  
      imgElement.src = latestURI = "data:image/jpeg;base64," + imageData;
    }
  
    // Camera failure callback
    function cameraError(message) {
      navigator.notification.alert('Cordova says: ' + message, null, 'Capturing the photo failed!');
      imgElement.src = latestURI;
    }
      
    // Choose an image from the device's photo library, the callback receives the image's file URI
    function chooseImage() {
      checkForLocalhost();
      navigator.camera.getPicture(imageURIReceived, cameraError, { quality: 50, 
        destinationType: navigator.camera.DestinationType.IMAGE_URI,
        sourceType: navigator.camera.PictureSourceType.PHOTOLIBRARY });
      imgElement.src = "images/spinner.gif"; 
    }
  
    // Take a photo using the device's camera, the callback receives the image as a Base64-encoded string
    function capturePhoto() {
      navigator.camera.getPicture(imageDataReceived, cameraError, { quality: 30,
        destinationType: navigator.camera.DestinationType.DATA_URL });
      imgElement.src = "images/spinner.gif";
    }
    
    // Inform the user that if the project is being served from localhost, the example doesn't function correctly
    function checkForLocalhost() {
      if (window.location.href.indexOf("http://localhost") == 0) {
        alert("Your project is being served from http://localhost/. Since Cordova's Camera API returns the location of the photo file as a file:// URL, trying to display the photo produces an error (due to the different protocols). Please switch the steroids.config.location property in config/application.coffee to just 'cameraExample.html' to fix this.")
      }
    }
    
  </script>
  
  <style>
    img {
      width:100%;
    }
  </style>

</head>
<body>

  <div class="content-padded">
    <h1>Camera Example</h1>
    <hr>
    <div class="topcoat-button--cta full center" ontouchend="capturePhoto()">Capture photo</div>
    <br><br>
    <div class="topcoat-button full center" ontouchend="chooseImage()">Choose from Photo Library</div>
    
    <img id="photo">
  </div>

</body>
</html>
